.single-line-hide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bg-wood {
  background url("~@/assets/images/jon-moore-5fIoyoKlz7A-unsplash.jpg") no-repeat center / cover !important;
}
.bg-wall {
}

::-webkit-scrollbar {
  width: 10px
  height: 10px
}

::-webkit-scrollbar-thumb {
  background: rgba(160, 174, 192, 0.4)
}
