html, body {
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  height: 100%;
}

body {
  margin: 0;
}


.single-line-hide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(160, 174, 192, 0.4);
}
