html, body {
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  height: 100%;
}

body {
  margin: 0;

  //background-repeat: no-repeat;
  //background-position: center;
  //background-size: cover;
  //background-image: url("https://cn.bing.com/th?id=OHR.MoonJellyDay_ZH-CN4121466496_1920x1080.jpg&rf=LaDigue_1920x1080.jpg");

  //padding: 2px;
  //background: linear-gradient(to bottom, #ff7847, #00eaff);
  //background-color: $primary;
  box-sizing: border-box;

  ::selection {
    color: #fff;
    background-color: $primary;
  }
}

@mixin focusMixin() {
  //outline: 1px solid $primary;
  outline: none;
  box-shadow: 0 0 0 1px $primary inset;
}

button, input, textarea, a {
  &:focus {
    @include focusMixin;
  }
}

.tk-tree-item {
  &:focus {
    & > .tree-item-title > .title-inner {
      @include focusMixin;
    }
  }
}


hr {
  border-top: none;
  border-color: $border-color;
}

.__dragable {
  -webkit-app-region: drag;
}

.__dragable-disabled {
  -webkit-app-region: no-drag;
}

// ---

.action-btn-row {
  text-align: right;
  padding: 10px 15px;
  border-top: 1px solid $border-color;

  button + button {
    margin-left: 8px;
  }
}

.material-icons {
  //font-size: 16px;
}

// ---
.settings-form {
  width: 400px;

  @media screen and (max-width: $mq_mobile_width) {
    width: 340px;
  }
  text-align: left;

  .settings-title {
    padding: 15px;
    color: $primary;
    font-weight: bold;
    border-bottom: 1px solid;
    font-size: 18px;
  }

  .settings-content {
    padding: 10px;
  }

  .form-row {
    padding: 10px 5px;

    .row-title {
      margin-bottom: 5px;
      font-weight: bold;
    }
  }

  .settings-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;

    .s-label {
      font-weight: 600;
    }

    .s-actions {
      display: flex;
      align-items: center;
    }

    & + .settings-row {
      border-top: 1px solid rgba(204, 204, 204, 0.27);
    }

    &.multi-line {
      flex-direction: column;
      align-items: flex-start;

      .s-label {
        width: 100%;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .s-actions {
        display: flex;
        width: 100%;

        textarea {
          width: 100%;
          font-family: monospace;
        }
      }
    }
  }

  .color-input {
    width: 40px;
    height: 20px;
    padding: 0;
  }
}
